
<div style="margin:auto;">
    <form action="contentForm" method="POST">
        <input type="hidden" name="${list.content_idx}">
        <div class="mb-3">
            <input class="form-control" type="text" name="reply_name" placeholder="이름입력" style="border: none; border-bottom: solid 1px #E9ECEF; width:150px;">
            <textarea class="form-control" rows="2" name="reply_content" placeholder="댓글 추가..." style="border: none; border-bottom: solid 1px #E9ECEF"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary" style="float:right">저장</button>
    </form>
</div>
